<!DOCTYPE html>
<html lang="en">
<head>
	<!-- Basic Metas -->
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <meta charset="UTF-8">
	<meta name="description" content="{% block description %}{% endblock %}">
    <meta name="keywords" content="{% block keywords %}{% endblock %}">
	<meta name="author" content="{{ SITE_AUTHOR }}">
	<link rel="author" href="{{ GOOGLE_PLUS_URL }}"/>
    <title>{% block title %}{% endblock %}</title>

	{% block meta %}{% endblock %}

	<!-- Stylesheets and Web Fonts -->
	<link href="{{ SITEURL }}/theme/style.min.css" rel="stylesheet">
	{% if GOOGLE_FONTS %}
	<link href="https://fonts.googleapis.com/css?family={{ GOOGLE_FONTS | join('|') | replace(' ', '+') }}" rel="stylesheet" type="text/css">
	{% endif %}
	{% if SOCIAL_ICONS %}
	<link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css" rel="stylesheet">
	{% endif %}

	<!-- Favicons -->
	<link rel="apple-touch-icon" href="{{ SITEURL }}/{{ ICONS_PATH }}/apple-touch-icon.png">
	{% for size in (57, 60, 72, 76, 114, 120, 144, 152, 180) %}
	<link rel="apple-touch-icon" sizes="{{ size }}x{{ size }}" href="{{ SITEURL }}/{{ ICONS_PATH }}/apple-touch-icon-{{ size }}x{{ size }}.png">
	{% endfor %}

	{% for size in (16, 32, 96, 160, 196) %}
	<link rel="icon" type="image/png" href="{{ SITEURL }}/{{ ICONS_PATH }}/favicon-{{ size }}x{{ size }}.png" sizes="{{ size }}x{{ size }}">
	{% endfor %}

	<meta name="theme-color" content="{{ THEME_COLOR }}">

	<meta name="msapplication-TileColor" content="{{ THEME_COLOR }}">
	<meta name="msapplication-TileImage" content="{{ SITEURL }}/{{ ICONS_PATH }}/mstile-144x144.png">

	<!--[if lt IE 9]>
	<script src="{{ SITEURL }}/theme/js/html5shiv.min.js"></script>
	<script src="{{ SITEURL }}/theme/js/respond.min.js"></script>
	<![endif]-->
</head>

<body>
	<div class="container">
		<aside>
			<a href="{{ SITEURL }}"><img id="avatar" alt="Site Avatar" src="{{ SITEURL }}/{{ ICONS_PATH }}/avatar.png"></a>
			<div id="aside-content">
				<div id="name"><a href="{{ SITEURL }}">{{ SITENAME }}</a></div>
				<div id="bio">{{ BIO_TEXT }}</div>

				{% if NAVIGATION_ITEMS %}
				{% set active_page = active_page|default('index') %}
				<nav>
					{% for href, id, caption in NAVIGATION_ITEMS %}
					<a href="{{ SITEURL }}{{ href|e }}"{% if id == active_page %} style="text-decoration: underline;"{% endif %}>{{ caption|e }}</a>
					{% if not loop.last %}
						&nbsp;|&nbsp;
					{% endif %}
					{% endfor %}
				</nav>
				{% endif %}

				{% if SOCIAL_ICONS %}
				<div id="social">
					{% for link, title, icon in SOCIAL_ICONS %}
					<a href="{{ link }}" title="{{ title }}" class="icon fa {{ icon }}" target="_blank"></a>
					{% endfor %}
				</div>
				{% endif %}

				<!--<div>
					<a href="{{ SITEURL }}/files/CV_Marc-Sleegers_2015_EN_WEB.pdf" target="_blank">Download resume</a>
				</div>-->
			</div>

			<hr id="sidebar-divider">
		</aside>

		<article>
			{% block content %}{% endblock %}
			<hr>
		</article>

		<footer>
			<p>{{ FOOTER_TEXT }}</p>
		</footer>
	</div>
	{% if GOOGLE_ANALYTICS %}
	<!-- Google Analytics -->
	<script>
		(function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
		(i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
		m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
		})(window,document,'script','//www.google-analytics.com/analytics.js','ga');

		ga('create', '{{ GOOGLE_ANALYTICS }}', '{{ DOMAIN }}');
		ga('send', 'pageview');
	</script>
	{% endif %}
	{% if GAUGES_ID %}
	<!-- Gauges -->
	<script type="text/javascript">
		var _gauges = _gauges || [];
		(function() {
			var t   = document.createElement('script');
			t.type  = 'text/javascript';
			t.async = true;
			t.id    = 'gauges-tracker';
			t.setAttribute('data-site-id', '{{ GAUGES_ID }}');
			t.src = '//secure.gaug.es/track.js';
			var s = document.getElementsByTagName('script')[0];
			s.parentNode.insertBefore(t, s);
		})();
	</script>
	{% endif %}
</body>
</html>
