<!DOCTYPE html>
<html lang="en">

<head>
	{% if GOOGLE_ANALYTICS %}
	<!-- Global site tag (gtag.js) - Google Analytics -->
	<script async src="https://www.googletagmanager.com/gtag/js?id={{ GOOGLE_ANALYTICS }}"></script>
	<script>
		window.dataLayer = window.dataLayer || [];
		function gtag() { dataLayer.push(arguments); }
		gtag('js', new Date());

		gtag('config', '{{ GOOGLE_ANALYTICS }}');
	</script>
	{% endif %}

	<!-- Basic Metas -->
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
	<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
	<meta charset="UTF-8">
	<meta name="description" content="{% block description %}{% endblock %}">
	<meta name="keywords" content="{% block keywords %}{% endblock %}">
	<meta name="author" content="{{ SITE_AUTHOR }}">
	<link rel="author" href="{{ GOOGLE_PLUS_URL }}" />
	{% block canonical %}{% endblock %}
	<title>{% block title %}{% endblock %}</title>

	{% block meta %}{% endblock %}

	<!-- Stylesheets and Web Fonts -->
	{% assets filters="cssmin", output="style.min.css", "style.css" %}
	<link rel="stylesheet" href="{{ SITEURL }}/theme/style.min.css">
	{% endassets %}
	{% if GOOGLE_FONTS %}
	<link href="https://fonts.googleapis.com/css?family={{ GOOGLE_FONTS | join('|') | replace(' ', '+') }}"
		rel="stylesheet" type="text/css">
	{% endif %}
	{% if SOCIAL_ICONS %}
	<link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css" rel="stylesheet">
	{% endif %}

	<!-- Favicons -->
	<link rel="apple-touch-icon" href="{{ SITEURL }}/{{ ICONS_PATH }}/apple-touch-icon.png">

	{% for size in (16, 32) %}
	<link rel="icon" type="image/png" href="{{ SITEURL }}/{{ ICONS_PATH }}/favicon-{{ size }}x{{ size }}.png"
		sizes="{{ size }}x{{ size }}">
	{% endfor %}

	<meta name="theme-color" content="{{ THEME_COLOR }}">

	<meta name="msapplication-TileColor" content="{{ THEME_COLOR }}">
	<meta name="msapplication-TileImage" content="{{ SITEURL }}/{{ ICONS_PATH }}/android-chrome-192x192.png">

	<!--[if lt IE 9]>
	<script src="{{ SITEURL }}/theme/js/html5shiv.min.js"></script>
	<script src="{{ SITEURL }}/theme/js/respond.min.js"></script>
	<![endif]-->
</head>

<body{% block body_class %}{% endblock %}>
	<div class="container">
		<header class="site-header">
			{% if NAVIGATION_ITEMS %}
			{% set current_page = active_page|default('') %}
			<nav class="site-nav" aria-label="Primary">
				<!-- <a href="/"><img id="avatar" alt="Site Avatar" src="/images/icons/avatar-small.png"></a> -->
				<a href="/"><p id="nav-name">{{ SITENAME }}</p></a>
				{% for href, id, caption in NAVIGATION_ITEMS %}
				<a href="{{ SITEURL }}{{ href|e }}"{% if id == current_page %} class="is-active"{% endif %}>{{ caption|e }}</a>
				{% endfor %}
			</nav>
			<hr>
			{% endif %}
		</header>

		<main>
			<article>
				{% block content %}{% endblock %}
			</article>
		</main>

		<footer>
			{% block footer %}{% endblock %}
		</footer>
	</div>
</body>

</html>
