{% extends 'base.html' %}
{% set active_page = 'writing' %}
{% set writing_url = SITEURL ~ '/' ~ BLOG_URL %}
{% set social_image = SITEURL ~ '/' ~ ICONS_PATH ~ '/avatar.jpg' %}

{% block description %}{{ BLOG_DESCRIPTION }}{% endblock %}
{% block keywords %}{{ INDEX_KEYWORDS|join(', ') }}{% endblock %}
{% block canonical %}
	<link rel="canonical" href="{{ writing_url }}"/>
{% endblock %}
{% block title %}{{ BLOG_TITLE }} | {{ SITENAME }}{% endblock %}

{% block meta %}
	<!-- Twitter Cards and Open Graph -->
	<meta name="twitter:card" content="summary">
	<meta name="twitter:creator" content="{{ TWITTER_USERNAME }}">
	<meta name="twitter:domain" content="{{ DOMAIN }}">
	<meta name="twitter:site" content="{{ TWITTER_USERNAME }}">
	<meta name="twitter:title" content="{{ BLOG_TITLE }} | {{ SITENAME }}">
	<meta name="twitter:description" content="{{ INDEX_DESCRIPTION }}">
	<meta name="twitter:image" content="{{ social_image }}">
	<meta property="og:title" content="{{ SITENAME }}">
	<meta property="og:description" content="{{ INDEX_DESCRIPTION }}">
	<meta property="og:image" content="{{ social_image }}">
	<meta property="og:site_name" content="{{ SITENAME }}">
	<meta property="og:type" content="website">
	<meta property="og:url" content="{{ writing_url }}">
{% endblock %}

{% block content %}
			<h1 class="title"><a href="{{ SITEURL }}/{{ BLOG_URL }}">{{ BLOG_TITLE }}</a></h1>
			<div class="content">
				<ul class="archive-list">
					{% for article in articles %}
					{% set teaser = article.metadata.get('summary') %}
					<li class="archive-item">
						<div class="archive-heading">
							<a class="archive-link" href="{{ SITEURL }}/{{ article.url }}" title="{{ article.title | striptags }}">{{ article.title }}</a>
						</div>
						<div class="archive-metadata">
							<span><time datetime="{{ article.date }}">{{ article.date | strftime('%B %d, %Y') }}</time></span>
							<span>{% if article.readtime %}&thinsp; &bull; &thinsp; {{article.readtime}} min read{% endif %}</span>
						</div>
						{% if teaser %}
						<p class="archive-subtitle">{{ teaser | striptags }}</p>
						{% endif %}
					</li>
					{% endfor %}
				</ul>
			</div>
{% endblock %}

{% block footer %}<hr><p>{{ FOOTER_TEXT }}</p>{% endblock %}
