{% extends 'base.html' %}
{% set active_page = 'writing' %}

{% block description %}{{ BLOG_DESCRIPTION }}{% endblock %}
{% block keywords %}{{ INDEX_KEYWORDS|join(', ') }}{% endblock %}
{% block canonical %}
	<link rel="canonical" href="{{ SITEURL }}/{{ BLOG_URL }}"/>
{% endblock %}
{% block title %}Writing | {{ SITENAME }}{% endblock %}

{% block meta %}
	<!-- Open Graph -->
	<meta property="og:title" content="{{ SITENAME }}">
	<meta property="og:description" content="{{ INDEX_DESCRIPTION }}">
	<meta property="og:image" content="{{ SITEURL }}/{{ ICONS_PATH }}/avatar.jpg">
	<meta property="og:type" content="website">
	<meta property="og:url" content="{{ SITEURL }}/{{ BLOG_URL }}">
{% endblock %}

{% block content %}
	<h1 class="title"><a href="{{ SITEURL }}/{{ BLOG_URL }}">Writing</a></h1>
	<div class="content">
		<ul class="archive-list">
			{% for article in articles %}
			{% set teaser = article.metadata.get('summary') %}
			<li class="archive-item">
				<div class="archive-heading">
					<a class="archive-link" href="{{ SITEURL }}/{{ article.url }}" title="{{ article.title | striptags }}">{{ article.title }}</a>
				</div>
				<div class="archive-metadata">
					<span><time datetime="{{ article.date }}">{{ article.date | strftime('%B %d, %Y') }}</time></span>
					<span>{% if article.readtime %}&thinsp; &bull; &thinsp; {{article.readtime}} min read{% endif %}</span>
				</div>
				{% if teaser %}
				<p class="archive-subtitle">{{ teaser | striptags }}</p>
				{% endif %}
			</li>
			{% endfor %}
		</ul>
	</div>
{% endblock %}

{% block footer %}<hr><p>{{ FOOTER_TEXT }}</p>{% endblock %}
