{% extends 'base.html' %}

{% block description %}{{ BLOG_DESCRIPTION }}{% endblock %}
{% block keywords %}{{ INDEX_KEYWORDS|join(', ') }}{% endblock %}
{% block canonical %}
	<link rel="canonical" href="{{ SITEURL }}/{{ BLOG_URL }}"/>
{% endblock %}
{% block title %}Blog | {{ SITENAME }}{% endblock %}

{% block meta %}
	<!-- Open Graph -->
	<meta property="og:title" content="{{ SITENAME }}">
	<meta property="og:description" content="{{ INDEX_DESCRIPTION }}">
	<meta property="og:image" content="{{ SITEURL }}/{{ ICONS_PATH }}/avatar.png">
	<meta property="og:type" content="website">
	<meta property="og:url" content="{{ SITEURL }}/{{ BLOG_URL }}">
{% endblock %}

{% block content %}
	{% for article in articles[:4] %}
		<h1 class="title"><a href="{{ SITEURL }}/{{ article.url }}" title="{{ article.title | striptags }}">{{ article.title }}</a></h1>
		<p class="date">
        	<span title="Published" class="icon fa fa-clock-o"></span> <time datetime="{{ article.date }}">{{ article.locale_date }}</time>
    	</p>
		<div class="content summary">
			{% if  article.image %}
			<img src="{{ article.image }}" />
			{% endif %}
			<p>{{ article.summary | striptags }}</p>
		</div>
		{% if not loop.last %}<br>{% endif %}
	{% endfor %}
	<div id="view-archives"><a href="{{ SITEURL }}/{{ BLOG_URL }}archive/">All Posts &raquo;</a></div>
{% endblock %}

{% block footer %}<hr><p>{{ FOOTER_TEXT }}</p>{% endblock %}
