{% extends 'base.html' %}

{% block description %}{% if page.slug == 'home' %}{{ INDEX_DESCRIPTION }}{% else %}{{ page.summary | striptags }}{% endif %}{% endblock %}
{% block keywords %}{% if page.keywords %}{{ page.keywords }}, {% endif %}{{ INDEX_KEYWORDS|join(', ') }}{% endblock %}
{% block canonical %}
	<link rel="canonical" href="{{ SITEURL }}/{{ page.url }}"/>
{% endblock %}
{% block title %}{% if page.slug == 'home' %}{{ SITENAME }}{% else %}{{ page.title | striptags }} | {{ SITENAME }}{% endif %}{% endblock %}

{% block meta %}
	<!-- Twitter Cards and Open Graph -->
	<meta name="twitter:card" content="summary">
	<meta name="twitter:creator" content="{{ TWITTER_USERNAME }}">
	<meta name="twitter:domain" content="{{ DOMAIN }}">
	<meta name="twitter:site" content="{{ TWITTER_USERNAME }}">
	<meta property="og:title" content="{% if page.slug == 'home' %}{{ SITENAME }}{% else %}{{ page.title | striptags }}{% endif %}">
	<meta property="og:description" content="{% if page.slug == 'home' %}{{ INDEX_DESCRIPTION }}{% else %}{{ page.summary | striptags }}{% endif %}">
	<meta property="og:image" content="{{ SITEURL }}/{{ ICONS_PATH }}/avatar.png">
	<meta property="og:type" content="website">
	<meta property="og:url" content="{{ SITEURL }}/{{ page.url }}">
{% endblock %}

{% block content %}
	<h1 class="title"><a href="{{ SITEURL }}/{{ page.url }}" title="{{ page.title | striptags }}">{{ page.title }}</a></h1>
	<div class="content">
		{{ page.content }}
	</div>
{% endblock %}

{% block footer %}{% endblock %}