{% extends 'base.html' %}
{% set active_page = 'writing' %}
{% set tag_url = SITEURL ~ '/' ~ tag.url %}
{% set tag_description = BLOG_TITLE ~ " tagged '" ~ tag ~ "'." %}
{% set social_image = SITEURL ~ '/' ~ ICONS_PATH ~ '/avatar.jpg' %}
{% set social_image_alt = SOCIAL_IMAGE_ALT | default('Portrait of ' ~ SITE_AUTHOR) %}

{% block description %}{{ tag_description }}{% endblock %}
{% block canonical %}
	<link rel="canonical" href="{{ tag_url }}"/>
{% endblock %}
{% block robots %}{{ ROBOTS_NOINDEX_DEFAULT | default('noindex,follow') }}{% endblock %}
{% block meta %}
	<meta name="twitter:card" content="summary">
	<meta name="twitter:creator" content="{{ TWITTER_USERNAME }}">
	<meta name="twitter:site" content="{{ TWITTER_USERNAME }}">
	<meta name="twitter:title" content="{{ BLOG_TITLE }} tagged '{{ tag }}' | {{ SITENAME }}">
	<meta name="twitter:description" content="{{ tag_description }}">
	<meta name="twitter:image" content="{{ social_image }}">
	<meta name="twitter:image:alt" content="{{ social_image_alt }}">
	<meta property="og:title" content="{{ BLOG_TITLE }} tagged '{{ tag }}' | {{ SITENAME }}">
	<meta property="og:description" content="{{ tag_description }}">
	<meta property="og:image" content="{{ social_image }}">
	<meta property="og:image:alt" content="{{ social_image_alt }}">
	<meta property="og:site_name" content="{{ SITENAME }}">
	<meta property="og:type" content="website">
	<meta property="og:url" content="{{ tag_url }}">
{% endblock %}
{% block title %}{{ BLOG_TITLE }} tagged '{{ tag }}' | {{ SITENAME }}{% endblock %}

{% block content %}
				<h1 class="title">{{ BLOG_TITLE }} tagged '{{ tag }}'</h1>
				<div class="content">
					{% if articles %}
					<ul class="archive-list">
						{% for article in articles | sort(attribute='date', reverse=True) %}
						{% set teaser = article.metadata.get('summary') %}
						<li class="archive-item">
							<div class="archive-heading">
								<a class="archive-link" href="{{ SITEURL }}/{{ article.url }}" title="{{ article.title | striptags }}">{{ article.title }}</a>
							</div>
							<div class="archive-metadata">
								<span><time datetime="{{ article.date }}">{{ article.date | strftime('%B %d, %Y') }}</time></span>
								<span>{% if article.readtime %}&thinsp; &bull; &thinsp; {{ article.readtime }} min read{% endif %}</span>
							</div>
							{% if teaser %}
							<p class="archive-subtitle">{{ teaser | striptags }}</p>
							{% endif %}
						</li>
						{% endfor %}
					</ul>
					{% else %}
					<p>No {{ BLOG_TITLE | lower }} found for this tag.</p>
					{% endif %}
				</div>
				<div id="related-articles">
					<a id="prev-neighbour" href="{{ SITEURL }}/{{ BLOG_URL }}">Browse all writing</a>
				</div>
{% endblock %}

{% block footer %}<hr><p>{{ FOOTER_TEXT }}</p>{% endblock %}
