{% extends 'base.html' %}
{% set active_page = 'writing' %}

{% block description %}Browse all tags in {{ BLOG_TITLE }}.{% endblock %}
{% block keywords %}Tags, {{ INDEX_KEYWORDS|join(', ') }}{% endblock %}
{% block canonical %}<link rel="canonical" href="{{ SITEURL }}/{{ TAGS_URL }}"/>{% endblock %}
{% block meta %}<meta name="robots" content="noindex,follow">{% endblock %}
{% block title %}Tags | {{ SITENAME }}{% endblock %}

{% block content %}
	<h1 class="title">Tags</h1>
	<div class="content">
		{% if tags %}
		<ul class="archive-list">
			{% for tag, tagged_articles in tags | sort(attribute='0') %}
			<li class="archive-item">
				<div class="archive-heading">
					<a class="archive-link" href="{{ SITEURL }}/{{ tag.url }}" title="{{ BLOG_TITLE }} tagged '{{ tag }}'">{{ tag }}</a>
				</div>
				<div class="archive-metadata">
					<span>{{ tagged_articles | count }} post{% if tagged_articles | count != 1 %}s{% endif %}</span>
				</div>
			</li>
			{% endfor %}
		</ul>
		{% else %}
		<p>No tags yet.</p>
		{% endif %}
	</div>
	<div id="related-articles">
		<a id="prev-neighbour" href="{{ SITEURL }}/{{ BLOG_URL }}">Browse all writing</a>
	</div>
{% endblock %}

{% block footer %}<hr><p>{{ FOOTER_TEXT }}</p>{% endblock %}
